BasedOnStyle: LLVM
ColumnLimit: 120
BinPackArguments: true
BinPackParameters: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortBlocksOnASingleLine: Always
IndentCaseLabels: true
DerivePointerAlignment: false
PointerAlignment: Left
AllowAllParametersOfDeclarationOnNextLine: false