### Manually Entered:
.DS_Store
*~
*.zip
.vscode/
*#
__pycache__/
=======
*.DS_Store
._.DS_Store
*~
*.vscode
build*
examples/rol/shallow_ice_bedrock_inv/Matlab_Data_Processing/GIS_Data/*.txt
install/
.continueignore
.clangd
.repomix/
repomix-*